# Python / uv
.venv/
__pycache__/
*.pyc
.uv/

# Output data hasil scraping
data/*.csv
data/*.db
data/*.sqlite
data/*.json

# Jupyter
.ipynb_checkpoints/
notebooks/*.db

# Editor
.vscode/
.idea/
.DS_Store
